{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} -GreatHub{% else %}GreatHub{% endif %}
{% endblock %}


{% block navbar %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <nav role="navigation">
            <div class="container">
                <div class="nav navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">&nbsp;</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a>&nbsp;</a></li>
                        <li class="active"><a href="">导航1</a></li>
                        <li><a href="">导航2</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_anonymous %}
                            <li><a href="{{ url_for('auth.login') }}">登录</a></li>
                            <li><a> </a></li>
                        {% else %}
                            <li><a href="">Hi, {{ current_user.name }}</a></li>
                            <li><a href="{{ url_for('auth.logout') }}">退出</a></li>
                            <li><a> </a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
{%- endblock navbar %}
