{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="page-header" style="text-align: center;">
            <h3>登录</h3>
        </div>

        <div class="container">
            <form style="max-width: 330px;padding: 15px; margin: 0 auto;" action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="m-t-40 font-2">{{ form.username.label }}:</div>
                <div class="m-t-10">
                    {{ form.username(size=32, class="form-control" ) }}<br>
                    {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="m-t-20 font-2">{{ form.password.label }}:</div>
                <div class="m-t-10">
                    {{ form.password(size=32, class="form-control") }}<br>
                    {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <hr class="m-t-40">
                <div class="m-t-30 tac">
                    {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
                </div>
            </form>
        </div>
    </div>

{% endblock %}